---
import Button from "../ui/button.astro";

const { logo, navLinks, cta } = Astro.props;
---



<div id="scroll-trigger" class="h-[2px]"></div>
<header
  id="site-header"
  class="sticky top-0 z-100 bg-white/90 backdrop-blur-sm shadow-sm"
>


<nav
    class="container mx-auto flex justify-between items-center py-3 px-4 md:px-6 lg:px-8"
  >
    <div>
      <h1 class="text-2xl font-bold font-outfit tracking-wide text-gray-900">
        {logo.title}<span class="text-4xl font-bold font-outfit">.</span>
      </h1>
    </div>
    <ul id="nav-list" class=" hidden md:flex gap-x-9 py-2.5 px-5.5 rounded-full shadow-sm">
      {
        navLinks && navLinks.map((navLink: any) => {
          return (
            <li>
              <a href={navLink.href}
               class="inline-block text-sm font-medium font-ovo tracking-wide hover:-translate-y-[2px] transition-all duration-200 cursor-pointer"
              >{navLink.title}</a>
            </li>
          )
        })
      }
    
    
    </ul>
    <Button title={cta.title}  bgColor={cta.ctaTheme} textColor={cta.textColor} iconName={cta.iconName}/>
  </nav>
</header>

<script>
  const header = document.getElementById("site-header") as HTMLElement;
  const navList = document.getElementById("nav-list") as HTMLElement;
  const trigger = document.getElementById("scroll-trigger") as HTMLElement;

  const observer = new IntersectionObserver(
    ([entry]) => {
      if (!entry.isIntersecting) {
        // SCROLLED STATE
        header?.classList.add("bg-white/90", "backdrop-blur-sm", "shadow-sm");

        navList?.classList.remove("bg-white", "shadow-sm");
        navList?.classList.add("bg-transparent");
      } else {
        // TOP STATE
        header?.classList.remove(
          "bg-white/90",
          "backdrop-blur-sm",
          "shadow-sm"
        );

        navList?.classList.add("bg-white", "shadow-sm");
        navList?.classList.remove("bg-transparent");
      }
    },
    {
      root: null,
      threshold: 0,
    }
  );

  observer.observe(trigger as Element);
</script>


  