---
import { Phone, Mail, MapPin , Linkedin ,  Instagram , Twitter , Facebook } from "@lucide/astro";
import { ContactForm } from "../../ui/contact-form.jsx";


const { data } = Astro.props;


const socialIconMap = {
  Phone: Phone,
  Mail: Mail,
  MapPin: MapPin,
  Linkedin: Linkedin,
  Instagram: Instagram,
  Twitter: Twitter,
  Facebook: Facebook,
};

// const ContactIcon = socialIconMap[data?.contactIcon as keyof typeof socialIconMap] 
---

<section class="container mx-auto md:py-12 py-8 px-4 md:px-6 lg:px-8">
  <div class="text-center">
    <p class="md:text-md text-xs md:mb-1.5 pb-1 tracking-wide font-medium font-ovo">
      {data?.subText}
    </p>
    <h2 class="md:text-4xl text-2xl font-semibold font-ovo tracking-wide">
      {data?.title}
    </h2>
    <p class="hidden md:block md:text-sm text-xs md:mt-4 mt-2 text-gray-700 font-medium tracking-wide font-ovo">
      {data?.description}
    </p>
  </div>
  <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 md:gap-8 sm:gap-6 md:my-12 my-8">
    <div>
      {data?.socialContact?.map((contact: any) => {
        const ContactIcon = socialIconMap[contact.iconName as keyof typeof socialIconMap];
      
        return (
          <div class="flex items-center md:gap-2 gap-1.5 md:p-2 p-1.5 md:my-3 my-2">
            {ContactIcon && <ContactIcon class="md:w-9 md:h-9 w-7 h-7 md:p-2 p-1 hover:text-white hover:bg-black/80 rounded-full transition-all duration-150" />}
            <div class="flex flex-col">
              <h3 class="md:text-lg text-base font-semibold font-ovo tracking-wide">{contact.title}</h3>
              <p class="hidden md:block text-sm text-gray-600 font-medium tracking-wide font-ovo">{contact.subText}</p>
            </div>
          </div>
        );
      })}
      
    </div>

  
    <div class="col-span-2">
      <ContactForm  client:visible/>
    </div>
  </div>
</section>


  