---
import { Image } from "astro:assets";
import Button from "../../ui/button.astro";

const { data } = Astro.props;
---

<section class="container mx-auto md:py-18 py-12 px-4 md:px-6 lg:px-8">
  <div class="md:text-center sm:text-center text-left p-2">
    <div
      class="md:w-32 md:h-32 w-24 h-24 rounded-full overflow-hidden p-1 bg-linear-to-tr from-neutral-200 to-transparent md:mx-auto sm:mx-auto mx-0"
    >
      {
        data?.ProfilePicture?.url && (
          <Image
            src={`http://localhost:1337${data?.ProfilePicture?.url}`}
            alt="profile"
            class="w-full h-full object-cover"
            width={150}
            height={150}
            loading="eager"
            fetchpriority="high"
            quality={60}
            format="webp"
          />
        )
      }
    </div>

    <p class="md:text-lg text-sm tracking-wider font-medium font-ovo mt-2">
      {data?.subText}
    </p>

    <div class="md:text-center sm:text-center text-left my-4 max-w-2xl mx-auto">
      <h1 class="font-ovo font-medium md:text-6xl text-4xl tracking-wide">
        {data?.heading}
      </h1>

      <p
        class="md:text-sm text-xs text-gray-800 tracking-wide font-medium font-ovo md:mt-4 mt-2"
      >
        {data?.description}
      </p>
    </div>

    <div
      class="flex items-center justify-start md:justify-center sm:justify-center gap-x-4 cursor-pointer mt-8"
    >
      {
        data?.heroCta &&
          data.heroCta?.map((cta: any) => {
            return (
              <Button
                title={cta.title}
                bgColor={cta.ctaTheme}
                textColor={cta.textColor}
                iconName={cta.iconName}
                href={cta.href}
              />
            );
          })
      }
    </div>
  </div>
</section>
