---
import ServiceCard from '../../ui/service-card.astro';

const {data} = Astro.props;
---

<section class="container mx-auto md:py-12 py-8 px-4 md:px-6 lg:px-8">
    {data ? (<div class="text-center">
        <p class="md:text-md text-xs md:mb-1.5 pb-1  tracking-wide font-medium font-ovo">{data.subText}</p>
        <h2 class="md:text-4xl text-2xl font-semibold font-ovo tracking-wide">{data.title}</h2>
        <p class="hidden md:block md:text-sm text-xs text-gray-700 font-medium tracking-wide font-ovo mt-4">{data.description}</p>
    </div>
    <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4 md:gap-8 sm:gap-6 md:py-12 py-8">
        {data?.serviceCard && data.serviceCard?.map((card : any)=> {
            return (
                <ServiceCard title={card.title} description={card.description} icons={card.iconName} linkIcon ={card.serviceLink.iconName} linkText={card.serviceLink.title} linkHref={card.serviceLink.href}/>
        )
      })}
    </div>
  ) : (
    <p>No content found</p>
  )}
</section>