---
import {
  Code2,
  Palette,
  Server,
  GitBranch,
  Figma,
  Code,
  Github,
  Terminal,
} from "@lucide/astro";
import SkillBar from "../../ui/skill-bar.astro";

const skillData = [
  {
    section: "What I do",
    sectionTitle: "My Skills",
    sectionDescription:
      "I'm a full stack software developer, with professional background experience and skills",
  },
  {
    title: "Frontend Development",
    skills: [
      { name: "HTML", level: 90 },
      { name: "CSS", level: 80 },
      { name: "JavaScript", level: 85 },
      { name: "React", level: 80 },
      { name: "React-Router v7", level: 60 },
    ],
  },
  {
    title: "Backend Development",
    skills: [
      { name: "Node.js", level: 90 },
      { name: "Express.js", level: 80 },
      { name: "Strapi", level: 80 },
      { name: "Database Management", level: 85 },
    ],
  },

  { title: "Tools & Technologies" },
];

const iconMap = {
  backend: Server,
  frontend: Palette,
  tools: Code2,
  git: GitBranch,
  github: Github,
  terminal: Terminal,
  figma: Figma,
  code: Code,
};
---

<section class="min-h-svh my-12">
  <div class="text-center">
    <p class="text-md mb-1.5 tracking-wide font-medium font-ovo">
      {skillData[0]?.section}
    </p>
    <h2 class="text-4xl font-semibold font-ovo tracking-wide">
      {skillData[0]?.sectionTitle}
    </h2>
    <p class="text-sm text-gray-700 font-medium tracking-wide font-ovo mt-4">
      {skillData[0]?.sectionDescription}
    </p>
  </div>

  <div class="grid grid-cols-3 gap-x-6 my-12">
    <div>
      <div class="flex items-center gap-x-2 py-3">
        <iconMap.frontend
          class="w-7 h-7 border border-gray-400/10 bg-black rounded-md p-1 text-white my-5.5 hover:-translate-y-[2px] transition-all duration-200 cursor-pointer" />
        <h3 class="text-[1.4rem] font-semibold font-ovo tracking-wide">
          {skillData[1]?.title}
        </h3>
      </div>
      <div>
        {
          skillData[1]?.skills?.map((skill) => (
            <SkillBar name={skill.name} level={skill.level} />
          ))
        }
      </div>
    </div>

    <div>
      <div class="flex items-center gap-x-2 py-3">
        <iconMap.backend
          class="w-7 h-7 border border-gray-400/10 bg-black rounded-md p-1 text-white my-5.5 hover:-translate-y-[2px] transition-all duration-200 cursor-pointer "
        />
        <h3 class="text-[1.4rem] font-semibold font-ovo tracking-wide">
          {skillData[2].title}
        </h3>
      </div>
      <div>
        {
          skillData[2]?.skills?.map((skill) => (
            <SkillBar name={skill.name} level={skill.level} />
          ))
        }
      </div>
    </div>

    <div>
      <div class="flex items-center gap-x-2 py-3">
        <iconMap.tools
          class="w-7 h-7 border border-gray-400/10 bg-black rounded-md p-1 text-white my-5.5 hover:-translate-y-[2px] transition-all duration-200 cursor-pointer"
        />
        <h3 class="text-[1.5rem] font-semibold font-ovo tracking-wide">
          {skillData[3].title}
        </h3>
      </div>
      <div class="flex items-center gap-x-2">
        <iconMap.git
          class="w-7 h-7 border border-gray-400/10 bg-black rounded-md p-1 text-white my-5.5 hover:-translate-y-[2px] transition-all duration-200 cursor-pointer"
        />
        <iconMap.terminal
          class="w-7 h-7 border border-gray-400/10 bg-black rounded-md p-1 text-white my-5.5 hover:-translate-y-[2px] transition-all duration-200 cursor-pointer"
        />
        <iconMap.figma
          class="w-7 h-7 border border-gray-400/10 bg-black rounded-md p-1 text-white my-5.5 hover:-translate-y-[2px] transition-all duration-200 cursor-pointer"
        />
        <iconMap.code
          class="w-7 h-7 border border-gray-400/10 bg-black rounded-md p-1 text-white my-5.5 hover:-translate-y-[2px] transition-all duration-200 cursor-pointer"
        />
        <iconMap.github
          class="w-7 h-7 border border-gray-400/10 bg-black rounded-md p-1 text-white my-5.5 hover:-translate-y-[2px] transition-all duration-200 cursor-pointer"
        />
      </div>
    </div>
  </div>
</section>
