---
import {
  Code2,
  Palette,
  Server,
  GitBranch,
  Figma,
  Code,
  Github,
  Terminal,
} from "@lucide/astro";
import SkillBar from "../../ui/skill-bar.astro";

const { data } = Astro.props;

const iconMap = {
  Server,
  Palette,
  Code2,
  GitBranch,
  Github,
  Terminal,
  Figma,
  Code,
};
---

<section class="container mx-auto md:py-12 py-8 px-4 md:px-6 lg:px-8">
  <div class="text-center">
    <p class="md:text-md text-xs md:mb-1.5 pb-1 tracking-wide font-medium font-ovo">
      {data.subText}
    </p>
    <h2 class="md:text-4xl text-2xl font-semibold font-ovo tracking-wide">
      {data.title}
    </h2>
    <p class="hidden md:block md:text-sm text-xs text-gray-700 font-medium tracking-wide font-ovo mt-4">
      {data.description}
    </p>
  </div>

  <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 md:gap-8 sm:gap-6 md:py-12 py-8">
    {
      data?.skillComponent && data.skillComponent?.map((group : any) => {
        // Dynamic icon select karna
        const Icon = iconMap[group.iconName as keyof typeof iconMap] || Code;
        
        return (
          <div class="flex flex-col">
            <div class="flex items-center md:gap-2 gap-1.5 md:py-3 py-2">
              <Icon class="md:w-7 md:h-7 w-6 h-6 md:my-5.5 my-4 border border-gray-400/10 bg-black rounded-md p-1 text-white hover:-translate-y-[2px] transition-all duration-200 cursor-pointer" />
              <h3 class="md:text-[1.4rem] text-[1.2rem] font-semibold font-ovo tracking-wide">
                {group.heading}
              </h3>
            </div>

            <div class="space-y-4">
              {/* Agar tools wala section nahi hai, to skill bars dikhao */}
              {!group.isTools ? (
                group?.skillBar && group.skillBar?.map((skill : any) => (
                  <SkillBar name={skill.name} level={skill.level} />
                ))
              ) : (
                /* Agar isTools true hai, to toolIcons dikhao */
                <div class="flex items-center flex-wrap md:gap-2 gap-1.5">
                  {group?.toolIcons && (
                    // Agar toolIcons aik string hai (e.g. "GitBranch"), usay render karein
                    group.toolIcons.split(',').map((iconKey : any) => {
                      const ToolIcon = iconMap[iconKey.trim() as keyof typeof iconMap] || Terminal;
                      return <ToolIcon class="md:w-7 md:h-7 w-6 h-6 border border-gray-400/10 bg-black rounded-md p-1 text-white hover:-translate-y-[2px] transition-all duration-200 cursor-pointer" />;
                    })
                  )}
                </div>
              )}
            </div>
          </div>
        )
      })
    }
  </div>
</section>