---
import { Image } from "astro:assets";
import { ArrowRightIcon } from "@lucide/astro";

const { title, content, imageUrl, createdAt , linkHref , linkText , linkIcon } = Astro.props;


const iconMap = {
    ArrowRightIcon: ArrowRightIcon,
}

const Icon = iconMap[linkIcon as keyof typeof iconMap] ;

const STRAPI_URL = "http://localhost:1337";
const image = imageUrl ? `${STRAPI_URL}${imageUrl}` : "";
---

<article
  class="overflow-hidden rounded-lg border border-gray-200 bg-white transition hover:shadow-md"
>
  <!-- Image -->
  <a href={`/blogs`} class="block">
    <Image src={image} alt={title} class="h-56 w-full object-cover" width={100} height={100} />
  </a>

  <!-- Content -->
  <div class="p-4">
    <p class="text-sm text-gray-500 font-medium font-ovo">
      {createdAt}
    </p>

    <a href={`/blogs`} class="block mt-2">
      <h3 class="text-lg font-medium text-gray-900 leading-snug">
        {title}
      </h3>
    </a>

    <p class="mt-2 line-clamp-3 text-sm leading-relaxed text-gray-600 font-medium font-ovo">
      {content}
    </p>

    { linkHref && linkText && linkIcon && (
      <a
        href={linkHref}
        class="group mt-4 inline-flex items-center gap-1 text-md font-medium font-ovo text-gray-900"
      >
        {linkText}
        {Icon && <Icon class="w-4 h-4 transition-transform group-hover:translate-x-1 text-gray-900" />}
      </a>
    )}
  </div>
</article>
