---
import { ArrowRight , Download } from '@lucide/astro';
const { title, bgColor, textColor , iconName , href} = Astro.props;

const iconMap = {
    Download: Download,
    ArrowRight: ArrowRight,
}


const Icon = iconMap[iconName as keyof typeof iconMap] ;
---

<div class={`w-fit flex items-center justify-between md:py-2 py-1.5  md:px-5.5 px-3.5 md:gap-x-1 gap-x-1 border hover:translate-y-[-2px] hover:shadow-md transition-all duration-150 border-gray-400 rounded-full bg-${bgColor} text-${textColor}`}>
    <a href={href} class={`text-sm font-medium font-ovo tracking-wide cursor-pointer ${textColor}`}>{title} </a>
    {iconName && <Icon class={`md:w-4 md:h-4 w-3 h-3 ${textColor} cursor-pointer`} />}
</div>