---
import { Image } from "astro:assets";
const {title, description, image, link, ctaTtile} = Astro.props;

---

<article class="w-full h-full rounded-md shadow-sm overflow-hidden border border-gray-300 ">
    <div class="h-48 p-2 bg-white">
        {image ? (
            <Image src={image} alt={title || "Project image"} class="w-full h-full object-contain rounded-md" width={100} height={100} />
        ) : (
            <div class="w-full h-full bg-gray-200 flex items-center justify-center rounded-md">
                <p class="text-gray-500 text-sm font-ovo">No Image Available</p>
            </div>
        )}
    </div>
    <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-700 font-ovo tracking-wide">{title}</h3>
        <p class="text-sm text-gray-600 font-medium tracking-wide font-ovo my-2">{description}</p>
        <a href={link} class="inline-block w-full text-center text-sm font-medium font-ovo tracking-wide hover:-translate-y-[2px] border border-gray-300 hover:bg-gray-100 transition-all duration-200 bg-transparent text-gray-900 px-4 py-2 my-2 rounded-md" target="_blank">{ctaTtile}</a>
    </div>
</article>      